<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title>Welcome to news articles outlet</title>
    {% endif %}
</head>
<body>

    <h3> Popular News</h3>
    <ul>
        {% for popular_news in popular%}
            <li>{{ popular_news.title }}</li>
        {% endfor %}    
    </ul>
    
</body>
</html>